{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Page template }}
{{#post}}
<main id="main-asnd">
	<article id="post-page-asnd" class="{{post_class}}">
		
		<header class="post-header">
			{{#if feature_image}}
			<img class="featured-image" src="{{img_url feature_image}}" alt="{{title}}">
			{{/if}}
			
			<h1 class="post-title">{{title}}</h1>
		</header>

		<section id="post-content-asnd">
			{{content}}
		</section>

	</article>
</main>
{{/post}}