{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Post template }}
{{#post}}
<main id="main-asnd">
	<article id="post-page-asnd" class="{{post_class}}">
		
		<header class="post-header">
			<span class="post-meta-info">
				<time>{{date format="MMMM DD, YYYY"}}</time>
				<div class="tags-block">
					{{tags separator=" • "}}
				</div>
			</span>

			{{#if feature_image}}
			<img class="featured-image" src="{{img_url feature_image}}" alt="{{title}}">
			{{/if}}
			
			<h1 class="post-title">{{title}}</h1>
		</header>

		<section id="post-content-asnd">
			{{content}}
		</section>

		<footer id="author-share-asnd">

			<section class="share-section">
				<h4 class="share-label">Share this post</h4>

				<a class="share-link twitter"
				href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
					<span class="fa fa-twitter"></span> Twitter 
				</a>
				<a class="share-link facebook"
				href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
				onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
					<span class="fa fa-facebook"></span> Facebook 
				</a>
				<a class="share-link google-plus"
				href="https://plus.google.com/share?url={{url absolute="true"}}"
				onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
					<span class="fa fa-google-plus"></span> Google Plus
				</a>
			</section>

			<section class="author-section">
				{{#author}}
				{{#if profile_image}}
				<img class="author-pic" src="{{img_url profile_image}}" alt="{{name}}">
				{{/if}}

				<div class="author-name-and-location">
					<h4 class="author-name"><a href="{{url}}">{{name}}</a></h4>

					{{#if location}}
					<span class="author-location"><i class="fa fa-map-marker"></i>{{location}}</span>
					{{/if}}
				</div>

				{{#if bio}}
				<p class="author-bio">{{bio}}</p>
				{{/if}}

				{{#if twitter}}
				<a class="author-twitter" href="{{twitter_url}}"><i class="fa fa-twitter"></i> {{twitter}}</a>
				{{/if}}

				{{#if facebook}}
				<a class="author-facebook" href="{{facebook_url}}"><i class="fa fa-facebook"></i> {{facebook}}</a>
				{{/if}}

				{{#if website}}
				<a class="author-website" href="{{website}}">{{website}}</a>
				{{/if}}
				{{/author}}
			</section>

			<section class="jump-to-posts">
				<h4>More to read</h4>
				{{#next_post}}
				<div>
					<span class="next-post-label">NEXT POST <i class="fa fa-angle-right"></i></span>
					<a href="{{url}}">{{title}}</a>
					<p>
						{{excerpt words="32"}}...
					</p>
				</div>
				{{/next_post}}

				{{#prev_post}}
				<div>
					<span class="prev-post-label"><i class="fa fa-angle-left"></i> PAST POST</span>
					<a href="{{url}}">{{title}}</a>
					<p>
						{{excerpt words="32"}}...
					</p>
				</div>
				{{/prev_post}}
			</section>

			<section id="comments-area-in-post"></section>

		</footer>
	</article>
</main>
{{/post}}